.modal-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-event {
    display: flex;
    flex-direction: column;
}
.modal-event > * {
    margin-top: 10px;
}
.modal-event h2 {
    margin: auto;
}

.modal-event-field {
    display: flex;
    justify-content: space-between;
}
.modal-event-center {
    align-self: center;
}
.modal-event-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.modal-event-field label {
    margin-left: auto;
    margin-right: 20px;
}
.modal-event-split {
    display: flex;
}
.modal-form-supply {
    width: 100%;
}

.form_btn_container {
    margin-top: 20px;
    margin-left: auto;
}
.event_btn {
    display: inline-block;
}

.del_btn {
    margin-left: 10px;
}
